@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap&family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.roboto{
  font-family:"Roboto", monospace;
}
.lexend{
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.fade-in {
  animation: fadeIn ease 1s;
}
.fade-in2 {
  animation: fadeIn2 ease-out 2.1s;
}
.fade-out {
  animation: fadeIn ease 1s reverse;
}
.spin {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn2 {
  0%,50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  76% {
    opacity: 0;
  }
}
@keyframes hit {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hit2 {
  0% {
    transform: scale(5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    transform: scale(1.4);

    opacity: 1;
  }
  76% {
    transform: scale(1.4);

    opacity: 0;
  }
  100% {
    transform: scale(1.4);

    opacity: 0;
  }
}
@keyframes move {
  0% {
    offset-distance: 0%;
    opacity: 1;
    offset-rotate: 0deg;
  }
  
  100% {
    
    offset-distance: 100%;
    opacity: 1;
    offset-rotate: 0deg;
    
  }
} 
@keyframes sliderFadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes sliderFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#cursor{
  background: url("/public/cursor.png");
  background-position:center;

  background-size: 200%;
}
.trail{
  background: url("/public/trail.png");
  background-position:center;

  background-size: 200%;
  pointer-events: none;
  transform: translateX(-50%) translateY(-50%);
  aspect-ratio: 1/1;
  position: fixed;
  height: 7vh;
  animation: trailFade 1s ease-in-out 0s 1 forwards;

}

@keyframes trailFade {
  0%{opacity:1}
  100%{
    opacity:0
  }
  
}

.slide-in {
  animation: slide-in 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
 
}
@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.spin-in{
  animation: spin-in 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) ;

}
@keyframes spin-in {
  0%{
    rotate: -280deg;
  }
  100%{
    rotate:0deg
  }
  
}

.fill-up {
  animation: fill-up 10s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes fill-up {
  0%,10% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.glisten {
  animation: glisten 2s linear  reverse infinite;
  background-size: 200% 200%;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
  background-position: 0 0;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: none;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  -webkit-box-shadow: inset 0 0 0 0.125em rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 0 0.125em rgba(255, 255, 255, 0.1);
  -webkit-transition: background-position 0.5s;
  transition: background-position 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-animation: glisten 2s linear  reverse infinite;
  
  
}

@keyframes glisten {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
@keyframes widen {
  0%,50%{
    letter-spacing: 0.05em;
    scale: 100%;
    opacity: 1;
  }
  99%{
    letter-spacing: 0.2em;
    scale: 110%;
    opacity: 1;

  }
  100%{
    letter-spacing: 0.2em;
    scale: 110%;
    opacity: 0;
  }
}
@keyframes display{
  0%,99%{
    display: none;
    opacity: 0;

  }
  100%{
    opacity: 1;
    display: block;
    
  }
}
@keyframes draw {
  from {
    stroke-dasharray: 0, 100;
    stroke-dashoffset: 0;
  }
  to {
    stroke-dasharray: 200, 0;
    stroke-dashoffset: 200;
  }
}
.logo-intro{
  animation: logo-intro 1s cubic-bezier(0.075, 0.82, 0.165, 1) 2.1s 1 forwards;
}
@keyframes logo-intro {
  0% {
    opacity: 0;
    transform: scale(3);
  }
  75%{
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1.3);
  }
}
.badum{
  animation: badum 100s linear 2.9s infinite forwards;
}

@keyframes badum {
  0%,100% {
    transform: translate(-50%,-50%) rotate(0deg);
  }
  99.99% {
    transform: translate(-50%,-50%) rotate(359.99deg);
  }
}
.path {
  animation: draw 2s   0.9s  forwards;
}
#logoBop{
}
@keyframes logoBop{
  0%{
    height: 86%;
  }
  100%{
    height:66.67%;
  }
}
.triangle {
  width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #b3b3b3;
  transform: translate(-50%,-50%);
}

.triangle2 {
  width: 0;
	height: 0;
	border-left: 22px solid transparent;
	border-right: 22px solid transparent;
	border-bottom: 47px solid #1b1b1b;
  transform: translate(-50%,-50%);
}

.brighten {
  animation: showx 2.9s, brighten 0.1s cubic-bezier(0.075, 0.82, 0.165, 1) 2.9s 1 forwards;
}

@keyframes brighten2 {
  100% {
    filter: brightness(1);
  }
  0% {
    filter: brightness(5);
  }
}
@keyframes showx{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

@keyframes brighten {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(10);
  }
}

@keyframes oxts{
 0%{
  opacity: 1;
 }
 99%{
  opacity: 1;
 }
  100%{
    opacity: 0;
  }
}
@keyframes oxts1 {
  0%{
    width: 100%;
    scale: 0.8;
  }
  100%{
    width: 100%;
    scale: 0.7;
  }
}
@keyframes oxts2 {
  0%{
    width: 40%;
    scale: 1.2;
  }
  100%{
    width: 40%;
    scale: 1.1;
  }
}
@keyframes oxts3 {
  0%{
    
    scale: 2;
  }
  100%{
    
    scale: 2.2;
  }
}

.group:hover .bop{
  animation: bop  ease-in-out 1s infinite;

}

@keyframes bop {
  0%,100%{
    transform: rotate(0deg) translate(0%,0%);
  }
 
  50%{
    transform:   translate(0%,-10%);

  }
  
  
}

















:root{
  --scale: 1;
  --track-height:calc(2px * var(--scale));
}

/* === range theme and appearance === */
input[type="range"] {
	font-size: 1.5rem;
	width: calc(12.5em * var(--scale));
}

input[type="range"] {
	color: #9b9b9b;
	--thumb-height: calc(var(--track-height) * 8);
	--track-color: rgba(0, 0, 0, 0.2);
	--brightness-hover: 180%;
	--brightness-down: 80%;
	--clip-edges: var(--track-height);
}



	input[type="range"] {
		color: #9b9b9b;
		--track-color: rgba(255, 255, 255, 0.1);
	}

	

input[type="range"] {
	position: relative;
	background: #fff0;
	overflow: hidden;
}





input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	transition: all ease 300ms;
	height: var(--thumb-height);
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
	position: relative;
}

input[type="range"]::-webkit-slider-thumb {
	--thumb-radius: 6px;
	--clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
	--clip-bottom: calc(var(--thumb-height) - var(--clip-top));
	--clip-further: calc(100% + 1px);
	--box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
		100vmax currentColor;

	width: var(--thumb-width, var(--thumb-height));
	background: linear-gradient(currentColor 0 0) scroll no-repeat left center /
		50% calc(var(--track-height) + 1px);
	background-color: currentColor;
	box-shadow: var(--box-fill);
	border-radius: var(--thumb-width, var(--thumb-height));

	filter: brightness(100%);
	clip-path: polygon(
		100% -1px,
		var(--clip-edges) -1px,
		0 var(--clip-top),
		-100vmax var(--clip-top),
		-100vmax var(--clip-bottom),
		0 var(--clip-bottom),
		var(--clip-edges) 100%,
		var(--clip-further) var(--clip-further)
	);
}

input[type="range"]:hover::-webkit-slider-thumb {
	filter: brightness(var(--brightness-hover));
}

input[type="range"]:active::-webkit-slider-thumb {
	filter: brightness(var(--brightness-hover));

}

input[type="range"]::-webkit-slider-runnable-track {
	background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
		100% calc(var(--track-height) + 1px);
}

input[type="range"]:disabled::-webkit-slider-thumb {
	cursor: not-allowed;
}

/* === Firefox specific styles === */
input[type="range"],
input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb {
	appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
	background: #fff0;
}

input[type="range"]::-moz-range-thumb {
	background: currentColor;
	border: 0;
	width: var(--thumb-width, var(--thumb-height));
	border-radius: var(--thumb-width, var(--thumb-height));
	cursor: grab;
}

input[type="range"]:active::-moz-range-thumb {
	cursor: grabbing;
}

input[type="range"]::-moz-range-track {
	width: 100%;
	background: var(--track-color);
}

input[type="range"]::-moz-range-progress {
	appearance: none;
	background: currentColor;
	transition-delay: 30ms;
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-progress {
	height: calc(var(--track-height) + 1px);
	border-radius: var(--track-height);
}

input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
	filter: brightness(100%);
}

input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:hover::-moz-range-progress {
	filter: brightness(var(--brightness-hover));
}

input[type="range"]:active::-moz-range-thumb,
input[type="range"]:active::-moz-range-progress {
	filter: brightness(var(--brightness-down));
}

input[type="range"]:disabled::-moz-range-thumb {
	cursor: not-allowed;
}
